<div class="mb-3">
  <label for="filterText" class="form-label"></label>
  <input type="text" [(ngModel)]="filterText" class="form-control" id="filterText" placeholder="Search Colors">
</div>

<ul class="list-group" style="margin-top: 5%;">
  <li [class]="getAllColorClass()" routerLink="/cars" style="text-align: center;"> ALL COLORS</li>
   <li (click)="setCurrentColor(color)"
   routerLink = "/cars/color/{{color.colorId}}" 
   *ngFor="let color of colors |filterColorPipe:filterText" 
   [class]="getCurrentColorClass(color)">{{color.colorName}}</li>
</ul>
<h5 *ngIf="currentColor">{{currentColor.colorName}} seçtiniz</h5>