<li class="list-group-item active" aria-current="true" style="text-align: center;" style="margin-top: 2%; margin-bottom:2%;">CARS</li>
<div class="row " *ngFor="let car of carDetails">
  <div class="col-md-7 col-lg-8 ">
    <div class="card"   >
    
      <div class="card-body" style="width: 18rem;" >
        <h5 class="card-title">{{car.brandName}}</h5>
      </div>

          <div id="carouselExampleInterval" class="carousel slide" data-bs-ride="carousel" >
              <div class="carousel-inner">
                <div class="carousel-item active" data-bs-interval="10000">
                  <img src="{{imageUrl}}{{getCarImage(car)}}" class="d-block w-100"    style="width: 50px; height: 450px" alt="...">
                </div>
                <div class="carousel-item" data-bs-interval="2000">
                  <img src="{{imageUrl}}{{getCarImage(car)}}" class="d-block w-100"    style="width: 50px; height: 450px" alt="...">
                </div>
              
              </div>
              <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleInterval"  data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
              </button>
              <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleInterval"  data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
              </button>
              
            </div>
     </div>
 

  </div>
  
  <div class="col-md-5  col-lg-4 order-md-last">
    <h4 class="d-flex justify-content-between align-items-center mb-3">
      <span class="text-primary">Details</span>
    </h4>
    <ul class="list-group mb-3">
      <li class="list-group-item d-flex justify-content-between lh-sm">
        <div>
          <h6 class="my-0">Brand Name:</h6>
        </div>
        <h5 class="card-title">{{car.brandName}}</h5>
      </li>
      <li class="list-group-item d-flex justify-content-between lh-sm">
        <div>
          <h6 class="my-0">Daily Price</h6>
        </div>
        <h5 class="card-title">{{car.dailyPrice |currency}}</h5>
      </li>
      <li class="list-group-item d-flex justify-content-between lh-sm">
        <div>
          <h6 class="my-0">Color</h6>
        </div>
        <h5 class="card-title">{{car.colorName}}</h5>
      </li>
      <li class="list-group-item d-flex justify-content-between bg-light">
        <div>
          <h6 class="my-0">Description</h6>
        </div>
        <h5 class="card-title">{{car.description}}</h5>
      </li>
      <!-- <li class="list-group-item d-flex justify-content-between">
        <span>Total (USD)</span>
        <strong>$20</strong>
      </li> -->
    </ul>

    <div class="d-grid gap-2 m-2" *ngIf="car ">
      <app-rental [car]="car"></app-rental>
  </div>
  

              
              <!-- <li class="list-group-item">Brand: {{car.brandId}}</li> -->
          <!-- <li class="list-group-item">Brand: {{car.brandId}}</li> -->

        <!-- <div class="card-body d-grid gap-2 mx-auto">
            <button type="button" routerLink = "/carDetails/{{car.carId}}"  class="btn btn-primary">Details</button>
          </div> -->

    
</div>
