<div class="content">
    <div class="card">
        <div class="card-body center_div">
            <form >
                <div class="row justify-content-md-center">
                    <div class="col-sm-2">
                        <label for="brandId">Rent Date</label>
                        <input type="date" class="form-control"  id="brandId" name="brandId" formControlName="brandId" >
                      </div>
                      <div class="col-sm-2">
                        <label for="brandName">Return Date </label>
                        <input type="date" class="form-control" id="brandName" formControlName="brandName" placeholder="brandName" >
                      </div>
                  </div>
                  <div class="row justify-content-md-center mt-3">
                      <div class="d-grid gap-2 col-4 mx-auto">
                        <button type="button" class="btn btn-warning " >Search
                        </button>
                      </div>
                   
                </div>
               
            </form>
          
        </div>
    </div>
</div>