<div class="col-md-7 col-lg-8">
  <form class="needs-validation" novalidate="" [formGroup]="paymentAddForm">
    <hr class="my-4">

    <h4 class="mb-3">Payment</h4>


    <div class="row gy-3">
      <div class="col-md-6">
        <label for="cc-name" class="form-label">Name on card</label>
        <input type="text" class="form-control" id="nameOnTheCard" placeholder="" required="" formControlName="nameOnTheCard">
        <small class="text-muted">Full name as displayed on card</small>
        <div class="invalid-feedback">
          Name on card is required
        </div>
      </div>

      <div class="col-md-6">
        <label for="cc-number" class="form-label">Credit card number</label>
        <input type="text" class="form-control" id="cardNumber" placeholder="" required="" formControlName="cardNumber">
        <div class="invalid-feedback">
          Credit card number is required
        </div>
      </div>

      <div class="col-md-3">
        <label for="cc-expiration" class="form-label">Expiration Year</label>
        <input type="text" class="form-control" id="expirationYear" placeholder="" required="" formControlName="expirationYear">
        <div class="invalid-feedback">
          Expiration date required
        </div>
      </div>
      <div class="col-md-3">
        <label for="cc-expiration" class="form-label">Expiration Month</label>
        <input type="text" class="form-control" id="cc-expirationMonth" placeholder="" required="" formControlName="expirationMonth">
        <div class="invalid-feedback">
          Expiration date required
        </div>
      </div>

      <div class="col-md-3">
        <label for="cc-cvv" class="form-label">CVV</label>
        <input type="text" class="form-control" id="cardCvv" placeholder="" required="" formControlName="cardCvv">
        <div class="invalid-feedback">
          Security code required
        </div>
      </div>
    </div>

    <hr class="my-4">

    <button class="w-100 btn btn-primary btn-lg" type="submit" data-bs-toggle="modal" data-bs-target="#exampleModal" >Continue to checkout</button>
  </form>
  
<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        Register Your Credit Card Information?
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" (click)="addPayment()">Save changes</button>
      </div>
    </div>
  </div>
</div>
</div>