<div class="col-md-7 col-lg-8">
  <form class="needs-validation" novalidate="" [formGroup]="paymentAddForm">
    <hr class="my-4">

    <h4 class="mb-3">Payment</h4>

    <div class="my-3">
      <div class="form-check">
        <input id="credit" name="paymentMethod" type="radio" class="form-check-input" checked="" required="">
        <label class="form-check-label" for="credit">Credit card</label>
      </div>
      <div class="form-check">
        <input id="debit" name="paymentMethod" type="radio" class="form-check-input" required="">
        <label class="form-check-label" for="debit">Debit card</label>
      </div>
      <div class="form-check">
        <input id="paypal" name="paymentMethod" type="radio" class="form-check-input" required="">
        <label class="form-check-label" for="paypal">PayPal</label>
      </div>
    </div>

    <div class="row gy-3">
      <div class="col-md-6">
        <label for="cc-name" class="form-label">Name on card</label>
        <input type="text" class="form-control" id="nameOnTheCard" placeholder="" required="" formControlName="nameOnTheCard">
        <small class="text-muted">Full name as displayed on card</small>
        <div class="invalid-feedback">
          Name on card is required
        </div>
      </div>

      <div class="col-md-6">
        <label for="cc-number" class="form-label">Credit card number</label>
        <input type="text" class="form-control" id="cardNumber" placeholder="" required="" formControlName="cardNumber">
        <div class="invalid-feedback">
          Credit card number is required
        </div>
      </div>

      <div class="col-md-3">
        <label for="cc-expiration" class="form-label">Expiration Year</label>
        <input type="text" class="form-control" id="expirationYear" placeholder="" required="" formControlName="expirationYear">
        <div class="invalid-feedback">
          Expiration date required
        </div>
      </div>
      <div class="col-md-3">
        <label for="cc-expiration" class="form-label">Expiration Month</label>
        <input type="text" class="form-control" id="cc-expirationMonth" placeholder="" required="" formControlName="expirationMonth">
        <div class="invalid-feedback">
          Expiration date required
        </div>
      </div>

      <div class="col-md-3">
        <label for="cc-cvv" class="form-label">CVV</label>
        <input type="text" class="form-control" id="cardCvv" placeholder="" required="" formControlName="cardCvv">
        <div class="invalid-feedback">
          Security code required
        </div>
      </div>
    </div>

    <hr class="my-4">

    <button class="w-100 btn btn-primary btn-lg" type="submit" (click)="addPayment()">Continue to checkout</button>
  </form>
</div>