<div *ngIf="dataLoaded == false" class="spinner-border text-primary" role="status" >
    <span class="visually-hidden">Loading...</span>
  </div>

<div class="content">
    <div class="col-md-12">
      <div class="panel-footer text-center">
        <li class="list-group-item active" aria-current="true" style="text-align: center;" style="margin-top: 2%;">Color List</li>

      </div>
        
   
        
      <table  id="brandsTable" class="table table-hover table-bordered" >
        <thead>
          <tr>
            <th>Color No</th>
            <th>Color Name</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let color of colors">
            <td>{{ color.colorId}}</td>
            <td>{{ color.colorName}}</td>
            <td>
                <div class="d-flex justify-content-center">
                    <button type="button" class="btn btn-warning" data-bs-toggle="modal"  routerLink = "/colors/update/{{color.colorId}}" >Update
                      </button>
                      <th scope="row"></th>
                      <button type="button" class="btn btn-danger"> Delete
                      </button>
                </div>
              
            </td>
          </tr>
        </tbody>
      </table>
      <div  class="d-grid gap-2 col-6 mx-auto">
        <button type="button" data-func="dt-add" class="btn btn-success " data-bs-toggle="modal" data-bs-target="#addBrandModal">
          <span class="glyphicon glyphicon-plus" aria-hidden="true"  >Add New Color</span>
        </button>
    </div>
       <!--addColorModal-->
       <div class="modal fade" id="addBrandModal" tabindex="-1" aria-labelledby="addBrandModal" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
               <div class="modal-header">
                   <h5 class="modal-title" id="addBrandModalLabel">Add Brand</h5>
                      <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                  </div>
                 <div class="modal-body">
                     <form [formGroup]="colorAddForm" >
                          <div class="row">
                             <div class="col-8">
                                 <label for="colorName">Color</label>
                                   <input type="text" class="form-control" id="colorName" formControlName="colorName" placeholder="colorName">
                                </div>
                            </div>
                      </form>
                 </div>
               <div class="modal-footer" >
                  <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                     <button class="btn btn-danger" (click)="addColor()" data-bs-dismiss="modal" >Add</button>
                  </div>
               </div>
            </div>
         </div>
           <!--end addColorModal-->
    
    </div>
</div>