<div class="d-grid gap-2">
  <button
    type="button"
    class="btn btn-primary"
    data-bs-toggle="modal"
    data-bs-target="#exampleModal"
  >
    Rent It
  </button>
</div>

<div
  class="modal fade"
  id="exampleModal"
  tabindex="-1"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
<form [formGroup]="rentalAddForm">
  <div class="modal-dialog">
    <div class="modal-content">

      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">
           Rent
        </h5>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>

      <div class="modal-body">

        <label for="rent-date-input" class="col-4 col-form-label">Customer :</label>
        <div class="form-group row mb-2">
          <div class="col-8">
            <select class="form-select"  [(ngModel)]="customerIdFilter"  formControlName="customerId">
              <option value="{{customer.id}}"
                *ngFor="let customer of customers"
               
              >
              {{ customer.customerName }}
              </option>
            </select>
          </div>
        </div>

        <label for="rent-date-input" class="col-4 col-form-label"
        >Rent Date:</label>
        <div class="form-group row mb-2">
          <div class="col-8">
            <input
            formControlName="rentDate"
              class="form-control"       
              type="date"
              [(ngModel)]="rentDateFilter"
            />
          </div>
        </div>

        <label for="rent-date-input" class="col-4 col-form-label"
        >Return Date:</label>
        <div class="form-group row">
          <div class="col-8">
            <input
            formControlName="returnDate"
              class="form-control"
              type="date"        
         [(ngModel)]="returnDateFilter"
            />
          </div>
        </div>

      </div>
      <div class="modal-footer">
        <button data-bs-dismiss="modal" (click)="addRentals()" type="button" class=" btn btn-primary">
          Rent
        </button>
      </div>
    </div>
  <!-- </div> -->
</div>

 
</form>
 