<div class="row">
  <div class="col-md-3">
    <app-brand></app-brand>
    <app-color></app-color>
  </div>
  <div class="col-md-9">
<li class="list-group-item active" aria-current="true" style="text-align: center;" style="margin-top: 2%; margin-bottom:2%;">CARS</li>
<app-car-filter></app-car-filter>
<div class="row">
    <div class="card" *ngFor="let car of cars" style="width: 18rem;">
        <img src="{{imageUrl}}{{getCarImage(car)}}" class="card-img-top" alt="...">
        <div class="card-body" >
          <h5 class="card-title">{{car.brandName}}</h5>
        </div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item">Daily Price: {{car.dailyPrice}}</li>
          <li class="list-group-item">Color: {{car.colorName}}</li>
          <li class="list-group-item">Description: {{car.description}}</li>
          <!-- <li class="list-group-item">Brand: {{car.brandId}}</li> -->
        </ul>
        <div class="card-body d-grid gap-2 mx-auto">
            <button type="button" routerLink = "/carDetails/{{car.carId}}"  class="btn btn-primary">Details</button>
          </div>
    </div>
    </div>
  </div>
</div>


