<li class="list-group-item active" aria-current="true" style="text-align: center;" style="margin-top: 3%;">CARS</li>
<table class="table">
    <thead>
        <tr>
            <th>Brand </th>
            <th>Color</th>
            <th>Daily Price</th>
            <th>Description</th>
        </tr>
    </thead>
    <tr *ngFor="let car of cars">
        <td>{{car.brandName}}</td>
        <td>{{car.colorName}}</td>
        <td>{{car.dailyPrice}}</td>
        <td>{{car.description}}</td>        
    </tr>
</table>
